Combine and Clean (Remove Duplicate) all AI-Generated, Humans Source Code into one .csv files

In [1]:
import json
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Humans

In [19]:
source_code_path = "./Humans/Cleaned/"
df = pd.DataFrame()

HumanDFs = []

# for p in os.listdir(source_code_path):
#     if p.endswith(".csv"):
#         df = pd.concat([df, pd.read_csv(source_code_path + p)])

for p in os.listdir(source_code_path):
    if p.endswith(".csv"):
        HumanDFs.append(pd.read_csv(source_code_path + p))

In [20]:
CombinedHumanDF = pd.DataFrame()
for df in HumanDFs:
    CombinedHumanDF = pd.concat([CombinedHumanDF,df],ignore_index=True)
CombinedHumanDF

,writer,problem_id,submission_id,website,source
0,human,NaN,12746065.0,https://codeforces.com,/*\n******************************************...
1,human,NaN,12746876.0,https://codeforces.com,#include<iostream>\n\nusing namespace std;\n\n...
2,human,NaN,12747297.0,https://codeforces.com,#include <iostream>\n#include <sstream>\n#incl...
3,human,NaN,12747301.0,https://codeforces.com,#include<stdio.h>\n#include<algorithm>\n#inclu...
4,human,NaN,12747302.0,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
...,...,...,...,...,...
1108873,human,2014,324135.0,https://programming.in.th,#include<bits/stdc++.h>\nusing namespace std;\...
1108874,human,toi1_roman,301202.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108875,human,toi18_gecko,1512.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108876,human,tumso20_kusuriya,278600.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108877,human,tumso20_kusuriya2,278620.0,https://programming.in.th,#include <iostream>\n#include <math.h>\nusing ...

In [21]:
CombinedHumanDF = CombinedHumanDF.dropna(subset=['source'])
CombinedHumanDF

,writer,problem_id,submission_id,website,source
0,human,NaN,12746065.0,https://codeforces.com,/*\n******************************************...
1,human,NaN,12746876.0,https://codeforces.com,#include<iostream>\n\nusing namespace std;\n\n...
2,human,NaN,12747297.0,https://codeforces.com,#include <iostream>\n#include <sstream>\n#incl...
3,human,NaN,12747301.0,https://codeforces.com,#include<stdio.h>\n#include<algorithm>\n#inclu...
4,human,NaN,12747302.0,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
...,...,...,...,...,...
1108873,human,2014,324135.0,https://programming.in.th,#include<bits/stdc++.h>\nusing namespace std;\...
1108874,human,toi1_roman,301202.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108875,human,toi18_gecko,1512.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108876,human,tumso20_kusuriya,278600.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108877,human,tumso20_kusuriya2,278620.0,https://programming.in.th,#include <iostream>\n#include <math.h>\nusing ...

In [22]:
# Remove Duplicated 

print(f"Duplicated : {CombinedHumanDF.duplicated(subset=['source']).sum()}")
CombinedHumanDF = CombinedHumanDF.drop_duplicates(subset=['source'], keep='first')
CombinedHumanDF

Duplicated : 28607

,writer,problem_id,submission_id,website,source
0,human,NaN,12746065.0,https://codeforces.com,/*\n******************************************...
1,human,NaN,12746876.0,https://codeforces.com,#include<iostream>\n\nusing namespace std;\n\n...
2,human,NaN,12747297.0,https://codeforces.com,#include <iostream>\n#include <sstream>\n#incl...
3,human,NaN,12747301.0,https://codeforces.com,#include<stdio.h>\n#include<algorithm>\n#inclu...
4,human,NaN,12747302.0,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
...,...,...,...,...,...
1108873,human,2014,324135.0,https://programming.in.th,#include<bits/stdc++.h>\nusing namespace std;\...
1108874,human,toi1_roman,301202.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108875,human,toi18_gecko,1512.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108876,human,tumso20_kusuriya,278600.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
1108877,human,tumso20_kusuriya2,278620.0,https://programming.in.th,#include <iostream>\n#include <math.h>\nusing ...

In [23]:
CombinedHumanDF['writer'] = CombinedHumanDF['writer'].replace('human', 'Human')

C:\Users\Pakin\AppData\Local\Temp\ipykernel_3896\1979054110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CombinedHumanDF['writer'] = CombinedHumanDF['writer'].replace('human', 'Human')

## AIs

In [25]:
source_code_path = "./AI-Generated/Cleaned/"
df = pd.DataFrame()

AIDFs = []

for p in os.listdir(source_code_path):
    if p.endswith(".csv"):
        AIDFs.append(pd.read_csv(source_code_path + p))
    
AIDFs[0]

,writer,problem_id,submission_id,website,source
0,AI,1991A,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
1,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
2,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
3,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n#inclu...
4,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
...,...,...,...,...,...
47775,AI,1115U2,NaN,https://codeforces.com,#include <iostream>\nusing namespace std;\n\ni...
47776,AI,1115U2,NaN,https://codeforces.com,#include <iostream>\n#include <bitset>\n\nusin...
47777,AI,1115U2,NaN,https://codeforces.com,#include <vector>\n\nusing namespace std;\n\nc...
47778,AI,1115U2,NaN,https://codeforces.com,#include <Quantum>\n\nnamespace Quantum.Kata.U...
47779,AI,1115U2,NaN,https://codeforces.com,#include <iostream>\n#include <cmath>\nusing n...

In [26]:
CombinedAIDF = AIDFs[0]
for df in AIDFs[1:]:
    CombinedAIDF = pd.concat([CombinedAIDF,df],ignore_index=True)
CombinedAIDF

,writer,problem_id,submission_id,website,source
0,AI,1991A,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
1,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
2,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
3,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n#inclu...
4,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
...,...,...,...,...,...
179963,AI,tumso20_penguin2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179964,AI,tumso20_shibuyajihen2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179965,AI,tumso20_simplepotatolanguage,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179966,AI,tumso20_space2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179967,AI,tumso20_tetrisbattle2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...

In [27]:
CombinedAIDF = CombinedAIDF.dropna(subset=['source'])

In [28]:
# Remove Duplicated 

print(f"Duplicated : {CombinedAIDF.duplicated(subset=['source']).sum()}")

# Holy Jesus, 1e5 Duplicated......

Duplicated : 108350

In [29]:
CombinedAIDF = CombinedAIDF.drop_duplicates(subset=['source'], keep='first')
CombinedAIDF

,writer,problem_id,submission_id,website,source
0,AI,1991A,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...
1,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
2,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
3,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n#inclu...
4,AI,1991A,NaN,https://codeforces.com,#include <iostream>\n#include <vector>\n\nusin...
...,...,...,...,...,...
179963,AI,tumso20_penguin2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179964,AI,tumso20_shibuyajihen2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179965,AI,tumso20_simplepotatolanguage,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179966,AI,tumso20_space2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...
179967,AI,tumso20_tetrisbattle2,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...

## Split Time!

I will use all  6e4 AI source codes, 
And sample from 1e6 Human source codes.

In [30]:
CombinedAIDF['website'].value_counts(), CombinedHumanDF['website'].value_counts()

(website
 https://codeforces.com        51662
 https://ioinformatics.org/    11054
 https://programming.in.th      3943
 https://firefly.gchan.moe      1428
 Name: count, dtype: int64,
 website
 https://codeforces.com        1061136
 https://programming.in.th       17158
 https://firefly.gchan.moe        1081
 https://ioinformatics.org/        787
 Name: count, dtype: int64)

In [31]:
def drop_rows(df, website_name, drop_size, random_state=42):
    drop_indices = df[df['website'] == website_name].sample(
        n=drop_size, random_state=random_state
    )
    return df.drop(drop_indices.index), drop_indices

In [33]:
len(CombinedHumanDF) - len(CombinedAIDF)

1012075

In [34]:
CombinedHumanDF, HumanUnusedDF = drop_rows(CombinedHumanDF,'https://codeforces.com',1012075) # remove codeforces source codes.

In [35]:
def assign_dataset_type(df, train_ratio=0.8, valid_ratio=0.1, test_ratio=0.1, random_state=42):
    dfs = []
    for website, group in df.groupby('website'):
        group = group.sample(frac=1, random_state=random_state).reset_index(drop=True)
        n = len(group)
        n_train = int(n * train_ratio)
        n_valid = int(n * valid_ratio)
        group.loc[:n_train-1, 'dataset_type'] = 'train'
        group.loc[n_train:n_train+n_valid-1, 'dataset_type'] = 'validation'
        group.loc[n_train+n_valid:, 'dataset_type'] = 'test'
        dfs.append(group)
    return pd.concat(dfs).reset_index(drop=True)

In [36]:
SplitedHumanDF = assign_dataset_type(CombinedHumanDF)
SplitedHumanDF

,writer,problem_id,submission_id,website,source,dataset_type
0,Human,NaN,13056100.0,https://codeforces.com,#include<iostream>\n#include<vector>\n#include...,train
1,Human,NaN,35754365.0,https://codeforces.com,#include <iostream>\n#include <cstdio>\n#inclu...,train
2,Human,NaN,34162830.0,https://codeforces.com,#include <iostream>\nusing namespace std;\n\ni...,train
3,Human,NaN,35349645.0,https://codeforces.com,#include <bits/stdc++.h>\n\nusing namespace st...,train
4,Human,NaN,34025830.0,https://codeforces.com,#include <cstdio>\n#include <algorithm>\n#incl...,train
...,...,...,...,...,...,...
68082,Human,toi10_map,283919.0,https://programming.in.th,#include <iostream>\n#include <stack>\n#includ...,test
68083,Human,0034,286443.0,https://programming.in.th,#include<iostream>\n#include<cmath>\nusing nam...,test
68084,Human,1038,6840.0,https://programming.in.th,#include <iostream>\n#include <algorithm>\n#in...,test
68085,Human,0043,174504.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test
68086,Human,1030,278432.0,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test

In [37]:
SplitedAIDF = assign_dataset_type(CombinedAIDF)
SplitedAIDF

,writer,problem_id,submission_id,website,source,dataset_type
0,AI,765D,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...,train
1,AI,1707D,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...,train
2,AI,1453F,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...,train
3,AI,354A,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...,train
4,AI,855D,NaN,https://codeforces.com,#include <bits/stdc++.h>\nusing namespace std;...,train
...,...,...,...,...,...,...
68082,AI,o62_mar_c2_blind,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test
68083,AI,tumso15_tumso15th,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test
68084,AI,1152,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test
68085,AI,2016,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test
68086,AI,toi15_archery,NaN,https://programming.in.th,#include <bits/stdc++.h>\nusing namespace std;...,test

In [38]:
SplitedAIDF[SplitedAIDF['dataset_type']=='test']['website'].value_counts(),  SplitedHumanDF[SplitedHumanDF['dataset_type']=='test']['website'].value_counts()

(website
 https://codeforces.com        5167
 https://ioinformatics.org/    1106
 https://programming.in.th      395
 https://firefly.gchan.moe      144
 Name: count, dtype: int64,
 website
 https://codeforces.com        4907
 https://programming.in.th     1717
 https://firefly.gchan.moe      109
 https://ioinformatics.org/      80
 Name: count, dtype: int64)

In [39]:
TRAIN_PATH = '../Splits/train/'
VALIDATION_PATH = '../Splits/validation/'
TEST_PATH = '../Splits/test/'
UNUSED_PATH = '../Splits/unused/'
COMBINED_PATH = '../Splits/combined/'

In [62]:
HumanUnusedDF.to_csv(UNUSED_PATH+'Human.csv',index=False)

In [41]:
SplitedHumanDF[SplitedHumanDF['dataset_type']=='train'].to_csv(TRAIN_PATH+'Human.csv',index=False)
SplitedHumanDF[SplitedHumanDF['dataset_type']=='validation'].to_csv(VALIDATION_PATH+'Human.csv',index=False)
SplitedHumanDF[SplitedHumanDF['dataset_type']=='test'].to_csv(TEST_PATH+'Human.csv',index=False)

In [42]:
SplitedAIDF[SplitedAIDF['dataset_type']=='train'].to_csv(TRAIN_PATH+'AI.csv',index=False)
SplitedAIDF[SplitedAIDF['dataset_type']=='validation'].to_csv(VALIDATION_PATH+'AI.csv',index=False)
SplitedAIDF[SplitedAIDF['dataset_type']=='test'].to_csv(TEST_PATH+'AI.csv',index=False)

In [49]:
CombinedTrain = pd.concat([SplitedAIDF[SplitedAIDF['dataset_type']=='train'],SplitedHumanDF[SplitedHumanDF['dataset_type']=='train']],ignore_index=True)
CombinedValidation = pd.concat([SplitedAIDF[SplitedAIDF['dataset_type']=='validation'],SplitedHumanDF[SplitedHumanDF['dataset_type']=='validation']],ignore_index=True)
CombinedTest = pd.concat([SplitedAIDF[SplitedAIDF['dataset_type']=='test'],SplitedHumanDF[SplitedHumanDF['dataset_type']=='test']],ignore_index=True)

In [50]:
CombinedTrain = CombinedTrain.sample(frac=1, random_state=42).reset_index(drop=True)
CombinedValidation = CombinedValidation.sample(frac=1, random_state=42).reset_index(drop=True)
CombinedTest = CombinedTest.sample(frac=1, random_state=42).reset_index(drop=True)

In [51]:
CombinedTrain.to_csv(COMBINED_PATH+"train.csv",index=False)
CombinedValidation.to_csv(COMBINED_PATH+"validation.csv",index=False)
CombinedTest.to_csv(COMBINED_PATH+"test.csv",index=False)

In [48]:
CombinedTrain = pd.read_csv(COMBINED_PATH+"train.csv")
CombinedValidation = pd.read_csv(COMBINED_PATH+"validation.csv")
CombinedTest = pd.read_csv(COMBINED_PATH+"test.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../Splits/combined/test.csv'

In [52]:
for df in [CombinedTrain,CombinedValidation,CombinedTest]:
    print(df['writer'].value_counts())

writer
AI       54468
Human    54467
Name: count, dtype: int64
writer
Human    6807
AI       6807
Name: count, dtype: int64
writer
Human    6813
AI       6812
Name: count, dtype: int64

In [53]:
train_sources = set(CombinedTrain['source'])
val_sources   = set(CombinedValidation['source'])

common = train_sources & val_sources
print("Number of overlapping sources:", len(common))
if common:
    print("Example overlaps:", list(common)[:5])

overlaps = CombinedTrain[CombinedTrain['source'].isin(CombinedValidation['source'])]
overlaps

Number of overlapping sources: 0

Empty DataFrame
Columns: [writer, problem_id, submission_id, website, source, dataset_type]
Index: []

In [56]:
train_sources = set(CombinedTrain['source'])
test_sources   = set(CombinedTest['source'])
unused_sources = set(HumanUnusedDF['source'])
validation_sources = set(CombinedTrain['source'])

common = train_sources & test_sources
print("Number of overlapping sources:", len(common))
if common:
    print("Example overlaps:", list(common)[:5])

overlaps = CombinedTrain[CombinedTrain['source'].isin(CombinedTest['source'])]
overlaps

Number of overlapping sources: 0

Empty DataFrame
Columns: [writer, problem_id, submission_id, website, source, dataset_type]
Index: []

In [57]:
common = train_sources & test_sources
print("Number of overlapping sources:", len(common))
if common:
    print("Example overlaps:", list(common)[:5])

overlaps = CombinedTrain[CombinedTrain['source'].isin(CombinedTest['source'])]
overlaps

Number of overlapping sources: 0

Empty DataFrame
Columns: [writer, problem_id, submission_id, website, source, dataset_type]
Index: []

In [61]:
common = test_sources & unused_sources
print("Number of overlapping sources:", len(common))
if common:
    print("Example overlaps:", list(common)[:5])

overlaps = CombinedTrain[CombinedTrain['source'].isin(CombinedTest['source'])]
overlaps

Number of overlapping sources: 0

Empty DataFrame
Columns: [writer, problem_id, submission_id, website, source, dataset_type]
Index: []